*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;

    background: url("bg31.jpg");
background-attachment: fixed;
background-size: cover;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    background-color: #151010;
  }
  
 ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-image: linear-gradient(180deg, #f58727 0%, #425b9f 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }
  .back-video {
    position: absolute;
    top: 0; /* Adjusted to start from the top */
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio without cropping */
  }
  
.header{
    min-height: 100vh;
    width: 100%;
    background-size:cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.pic1{
    width:60%;
}
.fa.fa-times{
          display: none; /* Hide links by default on smaller screens */

}
nav{
    display:flex;
    padding:2% 6%;
    padding-top: 0%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
flex:1;
text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}
.nav-links ul li a{
    color:#0b0b0b;
    text-decoration: none;
    font-weight: 540;
    font-size:13 px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:3px;
    background:#000000;
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
width:100%;
}
.logo{
    width:250px;
    padding-top: 20px;
    cursor:pointer;
    margin: 0;
    margin-left: -75px;
}
@media screen and (max-width: 768px) {
    .logo {
        width: 150px; /* Adjust the width for smaller screens */
        padding-top: 10px;
        padding-left: 10px; /* Modify padding if needed */
        margin-left: 0; /* Adjust margin or remove it for centering */
    }
}
/* Hide specific menu items on mobile screens */
@media (max-width: 767px) {
    .menu.hide-mobile {
        display:none; /* Apply a background color to test */
    }
}
.dropdown-content.show {
    display: block;
}

.logo2{
    width:180px;
    cursor:pointer;
    
    }
.text-box{
    width:90%;
    color:#215790;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    text-shadow: -2px -2px 2px white,0 5px 10px rgba(172, 67, 10, 0.797); /* Adjust the values to get the desired glow effect */

}

.text-box h1{
    font-size:62px;
    color:#f58727;
    text-shadow: -2px -2px 2px white,0 5px 10px #526f8f; /* Adjust the values to get the desired glow effect */

}
@media (max-width: 767px) {
    .text-box h1{
        font-size:40px;

    }
}
.text-box p{
    margin:10px 0 40px;
    font-size:20px;
    color:#0b0b0b;
}
@media (max-width: 767px) {
    .text-box p{
        font-size:15px;
        
    }
    .nav-links ul li:hover::after{
        width:100%;
        }
    .dropbtn{
        padding-right: 30px;
    }
    .dropdown {
        position: relative;
        display: flex;
    }
    .dropdown-content {
        display: none;
        background-color: #f9f9f9;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 5px 5px;
        font-size: 12px;
        text-decoration: none;
        display: block;
    }
}
.btn{
    display:flex;
    align-items: center;
    padding:10px 20px;
    border:0;
    outline:0;
    border-radius:5px;
    background:#cc4030;
    color:#fff;
    font-weight:500;
    cursor:pointer;
    
}
.btn:hover{
    display:flex;
    align-items: center;
    padding:10px 20px;
    border:0;
    outline:0;
    border-radius:5px;
    color:#361513;
    background:#ffffff79;
    font-weight:500;
    cursor:pointer; 
}
.btn2{
    display:flex;
    align-items: center;
    padding:10px 20px;
    border:0;
    outline:0;
    border-radius:5px;
    background:#cc4030;
    color:#fff;
    font-weight:500;
    cursor:pointer;
    
}
.btn2:hover{
    display:flex;
    align-items: center;
    padding:10px 20px;
    border:0;
    outline:0;
    border-radius:5px;
    color:#361513;
    background:#ffffff79;
    font-weight:500;
    cursor:pointer; 
}
@media (max-width: 767px) {
    .btn2{
display:none;        
    }
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:#0d0d0d;
    border: 2px solid #080808;
    border-radius: 10px;
    padding:12px 34px;
    font-size:15px;
    position:relative;
    cursor:pointer;
    background:#dfdada;

}
.hero-btn:hover{
    border: 3px solid #e8432974;
    color:#fff;
    background:#0f0a50;

}
nav .fa{
    display: none;
}

.launch-time{
    display:flex;
    justify-content: center;

}
.launch-time div{
    text-align:center;
    align-items: center

}
.launch-time div p {
    color:#f58727;
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: 30px;
    text-shadow: -2px -2px 2px white,0 5px 10px rgba(207, 25, 119, 0.767);}





    

/*---intro---*/
.heading{
    text-align:center;
    font-size:2.7rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:url(bg.png);
    border-bottom: 2px solid black;
    border-top:2px solid black;
    background-size:cover;

}
.heading5{
    text-align:center;
    font-size:2.7rem;
    color:#050505;
    padding:1rem;
    margin:2rem 0;
    background:url(bgg.png);
    border-bottom: 2px solid black;
    border-top:2px solid black;
    background-size:cover;

}
.heading span{
    color:#5f0202;
    text-shadow: -2px -2px 2px white,0 5px 10px rgba(252, 251, 250, 0.895);

}
.heading5 span{
    color:#090909;
}

.intro .row1{
display:flex;
align-items:center;
gap:2rem;
flex-wrap:wrap;
padding:2rem 0;
padding-bottom: 3rem;
}
.intro .row1 .video-container{
    flex:1 1 40rem;
    position:relative;
    
}
.intro .row1 .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius:0.5rem;
    box-shadow:0.5rem 0.5rem rgba(0,0,0,0.1);
    height:100%;
    object-fit:cover;
  
}
.intro .row1 .video-container h5{
    position:absolute;
    top:50%;
    transform:translateY(90%);
    font-size:2rem;
    background:#fff;
    width:100%;
    padding:1rem 1rem;
    text-align:center;
    mix-blend-mode: screen;
}
@media screen and (max-width: 768px) {
    .intro .row1 .video-container {
        width:70%;
        height:100%;
        object-fit:cover;
    }

    .intro .row1 .video-container video {
        width: 90%; /* Adjust video width for mobile */
        height: 100%; /* Adjust video height for mobile */
    }
}
.intro .row1 .content{
flex:1 1 40rem;
}
.intro .row1 .content h4{
    font-size:2rem;
    color:#035713;
    text-align: center;
}
.intro .row1 .content p{
    font-size:1rem;
    color:#f9f5f5;
    padding:.5rem 0;
    padding-top:1rem;
    line-height:1.5;
    text-align: center;
}

.content span{
    background-color: #023313ef;
    border-radius: 10px;
    width: 100%;
    height:20px;
    padding-left: 10px;
    padding-right: 10px;
}






/*----categories----*/
h1{
    font-size: 40px;
    font-weight: 600;
    color:#0e0f0f;
}
p{
    color:#777;
    font-size:14px;
    line-height:22px;
    padding:10px;
}
h2{
    font-size: 40px;
    font-weight: 600;
    color:#090909;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
    border-radius: 0; 
}

h3{
    text-align:center;
    font-weight:600;
    color:#080808;
}

.content p{
    padding-top: 3%;
    font-size:15px;
    color:#011d0aaf;
    
}
.creator{
    width:100%;
    text-align:center;
    border-radius: 0; 

}
.creator-col{
    margin-bottom:30px;
    position:relative;
    overflow:hidden;
    margin-left: 20px;
}
.creator-col img{
    width:90%;
    display:block;
    border-radius: 0;
    border: 2px solid rgb(6, 6, 6); 

}
.layer{
   background:transparent;
    height:100%;
    width:90%;
    position:absolute;
    top:0;
    left:0;
}
.layer:hover{
    background:rgba(2, 23, 9, 0.544);
}
.layer h3{
    width:100%;
    font-weight:500;
    color:#fff;
    font-size:26px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    opacity:0;
    transition:0.6s;
}
.hh{
    color:#2f8d9d;
    text-shadow: -2px -2px 2px white,0 5px 10px rgba(227, 151, 65, 0.692);
}
.layer span{
    width:90%;
    font-weight:500;
    color:#fff;
    font-size:10px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    opacity:0;
    transition:0.6s;
}
.layer:hover h3{
    bottom:20%;
    opacity:1;
}
.details{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
    .row {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center align cards */
    }

    .creator-col {
        margin-left: 7px; /* Reset left margin to remove space */
        margin-bottom: 20px; /* Adjust margin for space between cards */
    }

    .details {
        flex-direction: column; /* Display buttons vertically */
        align-items: center; /* Center align buttons */
    }

    .details a {
        margin-bottom: 10px; /* Add space between buttons */
    }
}
@media screen and (max-width: 768px) {
    #centeredImage {
        max-width: 90%; /* Adjust maximum width for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }
}
/*----contact---*/
.location{
    width:80%;
    margin:auto;
    padding:30px 0;
}
.location iframe{
    width:100%;
}
.contact-us{
    width:80%;
    margin:auto;
}

.contact div .fa{
    font-size:28px;
    color:#f8f6f7;
    margin:10px;
    margin-right:30px;
}
.contact div p{
    padding:0;
    font-size: 20px;
    margin-bottom:5px;
    color:#fbfafa;
    font-weight:400;
    text-shadow: -2px -2px 2px rgb(8, 8, 8),0 2px 5px #526f8f;
}
.contact div h5{
    font-size: 16px;
    margin-bottom:5px;
    color:#060606;
    font-weight:600;
    }
    
.contact a {
    text-decoration: none; 
    color: #fdf9f9; 
    font-size: 15px;
}

.contact a:hover {
    text-decoration: none; 
    color: #b0b27c; 
}


.contact .heading1{
    text-align:center;
    font-size:2.7rem;
    color:#050505;
    padding:1rem;
    margin:2rem 0;
    border: rgba(239, 58, 148, 0.05);

 background:#a4d4bc42;

}
.contact .heading1 span{
    color:#0a4d25a0;
}
.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.box{
    border:2px solid black;
    padding: 10px 10px;
    width:400px;
    height:300px;
    margin:10px 20px;
    background: url(bgg5.jpg);
    background-size: cover;
    background: linear-gradient(rgba(7, 117, 123, 0.626),rgb(194, 98, 3)),url(bgg5.jpg);

}
@media screen and (max-width: 768px) {
    .contact {
        flex-direction: column; /* Stack boxes vertically */
        align-items: center; /* Center align boxes */
    }

    .box {
        width: 90%; /* Adjust width for smaller screens */
        max-width: 400px; /* Limit maximum width */
        height: auto; /* Adjust height */
        margin: 10px auto; /* Center align the boxes */
    }
}
/*---footer---*/
.footer{
    width:100%;
    text-align: center;
    padding: 20px 0;
    background:url(foot.png);
    border-top: 1px solid black;
    background-size: cover;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    font-size: 11px;
    color: #000000;
}
.icons .fa{
    margin:0 10px;
    cursor:pointer;
    padding:12px 0;
    text-decoration:none;
}
.fa-heart-o{
    color:#f44336;
}
.logo1{
    width:150px;
    cursor:pointer;
    padding-bottom: -20px;
    justify-content: center;
}
.name p{
    font-size: 16px;
    font-family: Poppins;
}

/*----guidelines---*/

.content1{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    
}
.content1 p{
    font-size: 16px;
}
.content1 ol li{
    font-size: 16px;
    color:#777;
    line-height:22px;
    padding:10px;
}
.content1 span{
    font-size: 20px;
    color:#461d04af;
}


  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    .form-container {
      height: auto;
      padding: 50px 20px;
    }
    
    .form {
      width: 100%;
      position: static;
      transform: none;
    }
    
    .toggle {
      position: static;
      transform: none;
      margin-top: 30px;
    }
  }
  .i1{
    width:70%;
    display:flex;
    height:70%;
    float:left;
  }
/*---blogs...*/

  .features1{
    width:80%;
    margin:auto;
    text-align:center;

}

h2{
    font-size: 40px;
    font-weight: 600;
    color:#023313;
}
.row1{
    margin-top:2.5%;
    display:flex;
    justify-content:space-between;
}
.feature-col1{
    flex-basis: 31%;
    text-align:center;
    background:url(pictures/bgg2.jpg);
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border: 2px solid rgb(1, 57, 8);
    transition:1s;
}
h3{
    text-align:center;
    font-weight:600;
    margin:10px 0;
    color:#ffffff;
}
.feature-col1:hover{
box-shadow:0 0 20px 5px rgba(0, 0, 0, 0.775);
transform: translateY(-3%);
}
.btn1{
    display:flex;
    align-items: center;
    padding:10px 20px;
    border:0;
    outline:0;
    border-radius:5px;
    background:#000000;
    color:#fff;
    font-weight:500;
    cursor:pointer;
    justify-content:space-between;
}
